*{
    padding: 0%;
    margin: 0%;
}

main{
    background-image: url(assets/images/bg.jpg);
    height: 100vh;

}

main .box{
    height: 100vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;

}